/03 项目代码/HomeLibrary/HomeLibrary.Business/bin
/03 项目代码/HomeLibrary/HomeLibrary.Common/bin
/03 项目代码/HomeLibrary/HomeLibrary.DataAccess/bin
/03 项目代码/HomeLibrary/HomeLibrary.Database/bin
/03 项目代码/HomeLibrary/HomeLibrary.Model/bin
/03 项目代码/HomeLibrary/HomeLibrary.SinglePage/bin
/03 项目代码/HomeLibrary/HomeLibrary.UnitTest/bin
/03 项目代码/HomeLibrary/HomeLibrary.Web/bin
/03 项目代码/HomeLibrary/HomeLibrary.WebAPI/bin
