body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u4 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u14 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u16 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u18 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:480px;
  top:530px;
  width:50px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u42 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u52 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u54 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u56 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u57_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:320px;
  top:191px;
  width:900px;
  height:529px;
  text-decoration:underline;
  color:#3366FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:530px;
}
#u76 {
  position:absolute;
  left:2px;
  top:256px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:320px;
  top:150px;
  width:900px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:334px;
  top:162px;
  width:79px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:375px;
  top:426px;
  width:27px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:594px;
  top:218px;
  width:26px;
  height:32px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:33px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:420px;
  top:426px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:1160px;
  top:162px;
  width:27px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:530px;
  top:635px;
  width:69px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:363px;
  top:223px;
  width:53px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:421px;
  top:222px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:468px;
  top:430px;
  width:371px;
  height:150px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u95_input {
  font-family:'应用字体';
}
#u96 {
  position:absolute;
  left:376px;
  top:266px;
  width:27px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:421px;
  top:266px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:770px;
  top:218px;
  width:33px;
  height:32px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:470px;
  top:266px;
  width:290px;
  height:25px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u102_input {
  font-family:'应用字体';
}
#u103 {
  position:absolute;
  left:470px;
  top:222px;
  width:290px;
  height:25px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u103_input {
  font-family:'应用字体';
}
#u104 {
  position:absolute;
  left:332px;
  top:315px;
  width:79px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:470px;
  top:315px;
  width:290px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u106_input {
  font-family:'应用字体';
}
#u107 {
  position:absolute;
  left:332px;
  top:365px;
  width:79px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:470px;
  top:365px;
  width:290px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u109_input {
  font-family:'应用字体';
}
#u110 {
  position:absolute;
  left:480px;
  top:210px;
  width:291px;
  height:211px;
  overflow:hidden;
  visibility:hidden;
}
#u110_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:211px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u110_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111 {
  position:absolute;
  left:0px;
  top:27px;
  width:260px;
  height:163px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:164px;
}
#u112 {
  position:absolute;
  left:2px;
  top:74px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:2px;
  top:96px;
  width:182px;
  height:17px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:2px;
  top:116px;
  width:182px;
  height:18px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:2px;
  top:136px;
  width:182px;
  height:38px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:2px;
  top:158px;
  width:144px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:28px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:241px;
  top:5px;
  width:16px;
  height:17px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u124 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:10px;
  top:37px;
  width:40px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:48px;
  top:32px;
  width:52px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127_input {
  font-family:'应用字体';
}
#u128 {
  position:absolute;
  left:100px;
  top:37px;
  width:40px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:138px;
  top:32px;
  width:52px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u130_input {
  font-family:'应用字体';
}
#u131 {
  position:absolute;
  left:198px;
  top:32px;
  width:59px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u132 {
  position:absolute;
  left:2px;
  top:5px;
  width:55px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:57px;
  width:260px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:14px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u134 {
  position:absolute;
  left:661px;
  top:635px;
  width:69px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u135 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
