body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u4 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u14 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u16 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u18 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u40 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u50 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u52 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u54 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u55_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u58 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:320px;
  top:191px;
  width:900px;
  height:489px;
  text-decoration:underline;
  color:#3366FF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:490px;
}
#u74 {
  position:absolute;
  left:2px;
  top:236px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:320px;
  top:150px;
  width:900px;
  height:40px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:334px;
  top:162px;
  width:92px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:1149px;
  top:165px;
  width:27px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:374px;
  top:320px;
  width:40px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:374px;
  top:236px;
  width:27px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:594px;
  top:218px;
  width:26px;
  height:32px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:418px;
  top:236px;
  width:9px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:449px;
  top:520px;
  width:69px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u90 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:374px;
  top:278px;
  width:27px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:534px;
  top:278px;
  width:30px;
  height:16px;
}
#u94 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u93_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u95 {
  position:absolute;
  left:449px;
  top:278px;
  width:30px;
  height:16px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:449px;
  top:232px;
  width:200px;
  height:25px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u97_input {
  font-family:'应用字体';
}
#u98 {
  position:absolute;
  left:449px;
  top:315px;
  width:200px;
  height:25px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u98_input {
  font-family:'应用字体';
}
#u99 {
  position:absolute;
  left:449px;
  top:360px;
  width:200px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u99_input {
  font-family:'应用字体';
}
#u100 {
  position:absolute;
  left:449px;
  top:406px;
  width:200px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u100_input {
  font-family:'应用字体';
}
#u101 {
  position:absolute;
  left:374px;
  top:364px;
  width:27px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:374px;
  top:410px;
  width:53px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:374px;
  top:456px;
  width:53px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:449px;
  top:456px;
  width:74px;
  height:16px;
}
#u108 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:536px;
  top:456px;
  width:87px;
  height:16px;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:594px;
  top:520px;
  width:69px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u112 {
  position:absolute;
  left:2px;
  top:5px;
  width:65px;
  word-wrap:break-word;
}
