body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u13 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u15 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u17 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u18_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1166px;
  top:467px;
  width:44px;
  height:33px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:273px;
  top:89px;
  width:1057px;
  height:597px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:597px;
}
#u39 {
  position:absolute;
  left:2px;
  top:290px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
