<div class="page-sidebar nav-collapse collapse" ng-controller="sidebarController">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="Search..." />

                    <input type="button" class="submit" value="" />

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="start" ng-class="{active:$state.includes('app.home')}" style="cursor:pointer;">

            <a ui-serf="app.home">

                <i class="icon-home"></i>

                <span class="title">Dashboard</span>

                <span ng-class="{selected:$state.includes('app.home')}"></span>
            </a>

        </li>

        <li ng-repeat="menu in menus" ng-class="{active:$state.includes(menu.Url)}" style="cursor:pointer;">
            <!--主菜单没有子菜单时显示为一个有链接的菜单-->
            <a ng-if="menu.SubMenu.length==0" ui-sref="{{menu.Url}}">
                <i class="{{menu.Icon}}"></i>
                <span class="title">{{menu.Title}}</span>
                <span ng-class="{selected:$state.includes(menu.Url)}"></span>
            </a>

            <!--主菜单有子菜单时显示为一个下拉式的菜单-->
            <a ng-if="menu.SubMenu.length > 0">

                <i class="{{menu.Icon}}"></i>

                <span class="title">{{menu.Title}}</span>
                <span ng-class="{selected:$state.includes(menu.Url)}"></span>
                <span class="arrow " ng-class="{open:$state.includes(menu.Url)}"></span>

            </a>

            <ul class="sub-menu" ng-if="menu.SubMenu.length > 0" style="cursor:pointer;">

                <li ng-repeat="sub in menu.SubMenu" ng-class="{active:$state.includes(sub.Url)}">

                    <a ui-serf="{{sub.Url}}">

                        {{sub.Title}}
                    </a>

                </li>

            </ul>

        </li>

        <li class="last " style="cursor:pointer;">

            <a ui-sref="member.login">

                <i class="icon-key"></i>

                <span class="title">Logout</span>

            </a>

        </li>
    </ul>

    <!-- END SIDEBAR MENU -->

</div>
