<div class="page-sidebar nav-collapse collapse" ng-controller="sidebarController">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="Search..." />

                    <input type="button" class="submit" value=" " />

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="start active ">

            <a href="index.html">

                <i class="icon-home"></i>

                <span class="title">Dashboard{{menus}}</span>

                <span class="selected"></span>
            </a>

        </li>
       
        <li class="" ng-repeat="menu in menus">

            <a href="javascript:;" ui-serf="{{menu.Url}}">

                <i class="icon-cogs"></i>

                <span class="title">{{menu.Title}}</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu" ng-if="menu.SubMenu && menu.SubMenu.length>0">

                <li ng-repeat="sub in menu.SubMenu">

                    <a href="javascript:;" ui-serf="{{sub.Url}}">

                       {{sub.Title}}
                    </a>

                </li>

            </ul>

        </li>
        
        <li class="last ">

            <a ui-sref="member.login">

                <i class="icon-log-out"></i>

                <span class="title">Logout</span>

            </a>

        </li>
    </ul>

    <!-- END SIDEBAR MENU -->

</div>
