<div ng-controller="categoryManagementController">

    <div class="row-fluid">

        <div class="span4 ">

            <!-- BEGIN Portlet PORTLET-->

            <div class="portlet box grey">

                <div class="portlet-title">

                    <div class="caption"><i class="icon-reorder"></i>Portlet1</div>

                    <div class="actions">

                        <a href="#" class="btn yellow mini"><i class="icon-pencil"></i> Edit</a>

                        <a href="#" class="btn green mini"><i class="icon-plus"></i> Add</a>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="scroller" data-height="200px">

                        <strong>Scroll is hidden</strong><br />

                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.

                        consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.

                    </div>

                </div>

            </div>

            <!-- END Portlet PORTLET-->

        </div>

        <div class="span4 ">

            <!-- BEGIN Portlet PORTLET-->

            <div class="portlet box red">

                <div class="portlet-title">

                    <div class="caption"><i class="icon-reorder"></i>Portlet2</div>

                    <div class="tools">

                        <a href="javascript:;" class="collapse"></a>

                        <a href="#portlet-config" data-toggle="modal" class="config"></a>

                    </div>

                    <div class="actions">

                        <a href="#" class="btn blue mini"><i class="icon-pencil"></i> Edit</a>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="scroller" data-height="200px" data-always-visible="1">

                        <strong>Scroll is always visible</strong><br />

                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.

                    </div>

                </div>

            </div>

            <!-- END Portlet PORTLET-->

        </div>

        <div class="span4 ">

            <!-- BEGIN Portlet PORTLET-->

            <div class="portlet box yellow">

                <div class="portlet-title">

                    <div class="caption"><i class="icon-reorder"></i>Portlet3</div>

                    <div class="actions">

                        <a href="#" class="btn blue"><i class="icon-pencil"></i> Edit</a>

                        <div class="btn-group">

                            <a class="btn green" href="#" data-toggle="dropdown">

                                <i class="icon-user"></i> User

                                <i class="icon-angle-down"></i>

                            </a>

                            <ul class="dropdown-menu pull-right">

                                <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>

                                <li><a href="#"><i class="icon-trash"></i> Delete</a></li>

                                <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>

                                <li class="divider"></li>

                                <li><a href="#"><i class="i"></i> Make admin</a></li>

                            </ul>

                        </div>

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="scroller" data-height="200px" data-always-visible="1" data-rail-visible="1">

                        <strong>Scroll and rail are always visible</strong><br />

                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.

                    </div>

                </div>

            </div>

            <!-- END Portlet PORTLET-->

        </div>

    </div>


</div>