body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u13 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u15 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u17 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u18_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u40 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u50 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u52 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u54 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u55_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u58 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u70 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u72 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:320px;
  top:191px;
  width:900px;
  height:489px;
  text-decoration:underline;
  color:#3366FF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:490px;
}
#u74 {
  position:absolute;
  left:2px;
  top:236px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:334px;
  top:255px;
  width:849px;
  height:365px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:71px;
  top:0px;
  width:57px;
  height:36px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:128px;
  top:0px;
  width:93px;
  height:36px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:221px;
  top:0px;
  width:162px;
  height:36px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:383px;
  top:0px;
  width:108px;
  height:36px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:491px;
  top:0px;
  width:114px;
  height:36px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:605px;
  top:0px;
  width:116px;
  height:36px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:721px;
  top:0px;
  width:123px;
  height:36px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:36px;
  width:71px;
  height:36px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:71px;
  top:36px;
  width:57px;
  height:36px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:128px;
  top:36px;
  width:93px;
  height:36px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:221px;
  top:36px;
  width:162px;
  height:36px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:383px;
  top:36px;
  width:108px;
  height:36px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:491px;
  top:36px;
  width:114px;
  height:36px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:605px;
  top:36px;
  width:116px;
  height:36px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:721px;
  top:36px;
  width:123px;
  height:36px;
  color:#FF0000;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:72px;
  width:71px;
  height:36px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:71px;
  top:72px;
  width:57px;
  height:36px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:128px;
  top:72px;
  width:93px;
  height:36px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:221px;
  top:72px;
  width:162px;
  height:36px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:383px;
  top:72px;
  width:108px;
  height:36px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:491px;
  top:72px;
  width:114px;
  height:36px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:605px;
  top:72px;
  width:116px;
  height:36px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:721px;
  top:72px;
  width:123px;
  height:36px;
  color:#FF0000;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:108px;
  width:71px;
  height:36px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:71px;
  top:108px;
  width:57px;
  height:36px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:128px;
  top:108px;
  width:93px;
  height:36px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:221px;
  top:108px;
  width:162px;
  height:36px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:383px;
  top:108px;
  width:108px;
  height:36px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:491px;
  top:108px;
  width:114px;
  height:36px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:605px;
  top:108px;
  width:116px;
  height:36px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:721px;
  top:108px;
  width:123px;
  height:36px;
  color:#FF0000;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:0px;
  top:144px;
  width:71px;
  height:36px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:71px;
  top:144px;
  width:57px;
  height:36px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:128px;
  top:144px;
  width:93px;
  height:36px;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:221px;
  top:144px;
  width:162px;
  height:36px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:383px;
  top:144px;
  width:108px;
  height:36px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u149 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:491px;
  top:144px;
  width:114px;
  height:36px;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u151 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:605px;
  top:144px;
  width:116px;
  height:36px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:721px;
  top:144px;
  width:123px;
  height:36px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u155 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:180px;
  width:71px;
  height:36px;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u157 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:71px;
  top:180px;
  width:57px;
  height:36px;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u159 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:128px;
  top:180px;
  width:93px;
  height:36px;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u161 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:221px;
  top:180px;
  width:162px;
  height:36px;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u163 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:383px;
  top:180px;
  width:108px;
  height:36px;
  text-align:center;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u165 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:491px;
  top:180px;
  width:114px;
  height:36px;
  text-align:center;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u167 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:605px;
  top:180px;
  width:116px;
  height:36px;
  text-align:center;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u169 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:721px;
  top:180px;
  width:123px;
  height:36px;
  text-align:center;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u171 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:0px;
  top:216px;
  width:71px;
  height:36px;
  text-align:center;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u173 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:71px;
  top:216px;
  width:57px;
  height:36px;
  text-align:center;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u175 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:128px;
  top:216px;
  width:93px;
  height:36px;
  text-align:center;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u177 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:221px;
  top:216px;
  width:162px;
  height:36px;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u179 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:383px;
  top:216px;
  width:108px;
  height:36px;
  text-align:center;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u181 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:491px;
  top:216px;
  width:114px;
  height:36px;
  text-align:center;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u183 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:605px;
  top:216px;
  width:116px;
  height:36px;
  text-align:center;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u185 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:721px;
  top:216px;
  width:123px;
  height:36px;
  text-align:center;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u187 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:0px;
  top:252px;
  width:71px;
  height:36px;
  text-align:center;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u189 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:71px;
  top:252px;
  width:57px;
  height:36px;
  text-align:center;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u191 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:128px;
  top:252px;
  width:93px;
  height:36px;
  text-align:center;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u193 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:221px;
  top:252px;
  width:162px;
  height:36px;
  text-align:center;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u195 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:383px;
  top:252px;
  width:108px;
  height:36px;
  text-align:center;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u197 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:491px;
  top:252px;
  width:114px;
  height:36px;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u199 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:605px;
  top:252px;
  width:116px;
  height:36px;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u201 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:721px;
  top:252px;
  width:123px;
  height:36px;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u203 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:0px;
  top:288px;
  width:71px;
  height:36px;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u205 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:71px;
  top:288px;
  width:57px;
  height:36px;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u207 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:128px;
  top:288px;
  width:93px;
  height:36px;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u209 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:221px;
  top:288px;
  width:162px;
  height:36px;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u211 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:383px;
  top:288px;
  width:108px;
  height:36px;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u213 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:491px;
  top:288px;
  width:114px;
  height:36px;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u215 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:605px;
  top:288px;
  width:116px;
  height:36px;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u217 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:721px;
  top:288px;
  width:123px;
  height:36px;
  text-align:center;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u219 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:0px;
  top:324px;
  width:71px;
  height:36px;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:71px;
  top:324px;
  width:57px;
  height:36px;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:37px;
}
#u223 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:128px;
  top:324px;
  width:93px;
  height:36px;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:221px;
  top:324px;
  width:162px;
  height:36px;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:383px;
  top:324px;
  width:108px;
  height:36px;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
}
#u229 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:491px;
  top:324px;
  width:114px;
  height:36px;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
}
#u231 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:605px;
  top:324px;
  width:116px;
  height:36px;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u233 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:721px;
  top:324px;
  width:123px;
  height:36px;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u235 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1055px;
  top:632px;
  width:14px;
  height:18px;
  font-size:12px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:19px;
}
#u237 {
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1008px;
  top:634px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#3366FF;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1060px;
  top:634px;
  width:8px;
  height:15px;
  font-size:12px;
  color:#3366FF;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u242 {
  position:absolute;
  left:1077px;
  top:634px;
  width:62px;
  height:15px;
  font-size:12px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1139px;
  top:634px;
  width:42px;
  height:15px;
  font-size:12px;
  color:#3366FF;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:320px;
  top:150px;
  width:900px;
  height:40px;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:41px;
}
#u247 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:334px;
  top:163px;
  width:66px;
  height:16px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u250 {
  position:absolute;
  left:334px;
  top:206px;
  width:146px;
  height:32px;
}
#u250_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u250_input {
  font-family:'应用字体';
}
#u251 {
  position:absolute;
  left:490px;
  top:206px;
  width:55px;
  height:32px;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u252 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:1077px;
  top:302px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u255 {
  position:absolute;
  left:1130px;
  top:302px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u257 {
  position:absolute;
  left:1077px;
  top:339px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u259 {
  position:absolute;
  left:1130px;
  top:339px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u261 {
  position:absolute;
  left:1077px;
  top:376px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u263 {
  position:absolute;
  left:1130px;
  top:376px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u265 {
  position:absolute;
  left:1077px;
  top:410px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:1130px;
  top:410px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u269 {
  position:absolute;
  left:1077px;
  top:444px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u271 {
  position:absolute;
  left:1130px;
  top:444px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u273 {
  position:absolute;
  left:1077px;
  top:482px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u275 {
  position:absolute;
  left:1130px;
  top:482px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u277 {
  position:absolute;
  left:1077px;
  top:520px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u279 {
  position:absolute;
  left:1130px;
  top:520px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u281 {
  position:absolute;
  left:1077px;
  top:554px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u283 {
  position:absolute;
  left:1130px;
  top:554px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u285 {
  position:absolute;
  left:1077px;
  top:590px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u287 {
  position:absolute;
  left:1130px;
  top:590px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u289 {
  position:absolute;
  left:1109px;
  top:206px;
  width:69px;
  height:32px;
  color:#FFFFFF;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:32px;
}
#u290 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
