body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u4 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:50px;
  top:210px;
  width:200px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:290px;
  width:200px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:280px;
  top:40px;
  width:870px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:41px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1150px;
  top:40px;
  width:90px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1308px;
  top:20px;
  width:50px;
  height:230px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:231px;
}
#u14 {
  position:absolute;
  left:2px;
  top:107px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:274px;
  top:90px;
  width:971px;
  height:642px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:643px;
}
#u16 {
  position:absolute;
  left:2px;
  top:313px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:450px;
  width:220px;
  height:282px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:283px;
}
#u18 {
  position:absolute;
  left:2px;
  top:133px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:46px;
  top:352px;
  width:214px;
  height:360px;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:220px;
  height:366px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:365px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:45px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:90px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:135px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:180px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:225px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:270px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:315px;
  width:214px;
  height:45px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:210px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:290px;
  top:100px;
  width:170px;
  height:20px;
  font-size:18px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:275px;
  top:122px;
  width:970px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:961px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u40 {
  position:absolute;
  left:304px;
  top:137px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:317px;
  top:253px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:317px;
  top:176px;
  width:31px;
  height:16px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:317px;
  top:600px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:298px;
  top:215px;
  width:66px;
  height:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:317px;
  top:292px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:317px;
  top:331px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:317px;
  top:370px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:317px;
  top:409px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:317px;
  top:447px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:317px;
  top:486px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:304px;
  top:525px;
  width:53px;
  height:15px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:590px;
  top:680px;
  width:200px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:430px;
  top:137px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:430px;
  top:176px;
  width:92px;
  height:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:430px;
  top:370px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:430px;
  top:486px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:430px;
  top:525px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:430px;
  top:331px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:430px;
  top:409px;
  width:46px;
  height:16px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:430px;
  top:253px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:430px;
  top:215px;
  width:92px;
  height:16px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:940px;
  top:148px;
  width:220px;
  height:322px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:322px;
}
#u85 {
  position:absolute;
  left:2px;
  top:153px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
